body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ca145b;
    color: #333;
}

.container {
    color: #FFFAFA;
}


/* Header */
header {
    background-color: #222226;
    color: #fff;
    padding: 15px 0;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #ED760E;

}

header h1 a {
    color: #fff;
    text-decoration: none;

}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    color: #ED760E;
}

header nav li {
    margin-left: 20px;
}

header nav a {
    text-decoration: none;
    color: #fff;
}

/* Hero section */
.hero {

    background-size: cover;
    background-position: center;
    text-align: center;
    color: #fff;
    padding: 100px 0;
    background-color: #28272b;
}

.hero h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.hero .button {
    display: inline-block;
    background-color: #DC143C;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 20px;
}

/* Menu Section */
.menu{
    padding: 40px 0;
    background-color: #222226;
}
.menu h2{
    text-align: center;
    margin-bottom: 30px;
    color: #ED760E;
}

.swiper-slide {
    width: 800px;
    text-align: center;
    background-color: #423f46;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 40px;
}

.swiper-slide img {
    width: 100%;  /* Занимает всю ширину слайда */
    max-width: 100%; /*  Ограничивает размер картинки, если нужно*/
    display: block; /* Убирает лишние отступы снизу */
    object-fit: contain;  /* Вписывает картинку в заданную область, сохраняя пропорции */
    margin: 0 auto;
}

.price{
    font-weight: bold;
    font-size: 1.2em;
    display: block;
}

/* About Section */
.about {
    padding: 40px 0;
    text-align: center;
    background-color: #28272b;
}

.about h2 {
  margin-bottom: 20px;
}


/* Contact Section */
.contact {
    padding: 40px 0;
    text-align: center;
    background-color: #222226;
}

.contact h2 {
  margin-bottom: 20px;
}


/* Footer */
footer {
    background-color: #222226;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}
/* Responsive styles */
@media (max-width: 768px) {
    header nav {
        display: none; /* Скрывает меню на мобильных*/
    }
   .menu-item{
        width: 45%;
    }
}
